[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "app.dropcalc.calculadora",
      "sha256_cert_fingerprints": [
        "<REPLACE_WITH_BASE64_SHA256_FINGERPRINT_OF_YOUR_KEYSTORE>"
      ]
    }
  }
]
